---
layout: app
---
<!-- 定义变量 -->
{% assign articles = site.collections | sort: "index" -%}
<!-- --- 头部内容部分 --- -->
<div id="app-header" class="bg-body-tertiary row mx-0 border-bottom" style="height: 50px;">
  <div class="col-1 col-md-2 col-lg-1 px-1 px-md-0 d-flex user-select-none fs-5"
    title="Mi Mao just want you to be comfortable!">
    <span class="d-none d-md-block d-lg-none d-xxl-block mx-auto align-self-center">Mi Mao</span>
    <i class="bi bi-card-list d-block d-md-none d-lg-block d-xxl-none mx-auto align-self-center text-center" style="width: 32px;height:32px;"></i>
  </div>
  <div class="col-10 col-md-8 col-lg-10 px-0 d-flex align-items-center">
    <!-- 侧边导航栏 折叠 按钮 相对全局-->
    <div id="app-mainsidenavbar-collapse-button" class="d-none d-sm-block d-flex p-2 btn btn-outline-secondary me-2 text-center" style="width:40px;" data-bs-toggle="collapse" href="#app-main-side-navbar" role="button" aria-expanded="false" aria-controls="app-main-side-navbar">
      <i id="app-mainsidenavbar-collapse-button-icon" class="bi bi-chevron-bar-left align-self-center mx-auto"></i>
    </div>
    <nav aria-label="breadcrumb">
      <!-- site-breadcrumb-container 用于获取第二个元素，并将其文本按点击的文章类别进行显示 -->
      <ol class="site-breadcrumb-container breadcrumb mb-0">
        <li class="breadcrumb-item">米猫博客</li>
        <li class="breadcrumb-item active" aria-current="page"></li>
      </ol>
    </nav>
  </div>
  <div class="col-1 col-md-2 col-lg-1 px-1 px-md-0 d-flex user-select-none fs-5"
    title="light or dark">
    <i id="app-header-light-dark-button" class="btn btn-outline-dark p-0 bi bi-brightness-high d-block m-auto align-self-center" style="width: 32px;"></i>
  </div>
</div>
<!-- --- 中间主体内容部分 --- -->
<div id="app-main" class="bg-body d-flex row mx-0 overflow-y-auto bg-body-tertiary" style="height: calc(100vh - 50px);">
  <!-- 侧边导航栏 -->
  <!-- 导航选项的数据 是根据集合进行定义 -->
  <div id="app-main-side-navbar"
    class="bg-body-tertiary nav nav-pills border-1 col-12 col-sm-1 col-md-2 col-lg-1 px-1 px-sm-0 d-flex flex-row flex-sm-column flex-nowrap align-items-center align-items-sm-stretch overflow-auto scrollbar collapse collapse-horizontal"
    style="max-height: calc(100vh - 50px);" role="tablist">
    <!-- role="presentation" 可以声明为该元素为列表项 可以赋予列表项的一些特殊css表现，而不需要自己设置 role="button"类似 -->
    {% for article in articles -%}
    <div class="nav-item mx-1 mx-sm-0 my-0 flex-shrink-0" role="presentation" style="height: 32px;">
      <div id="{{- article.label -}}-tab-{{- article.index -}}"
      class="mainsidenavbar nav-tab-loading nav-link p-0 d-flex align-items-center justify-content-center justify-content-md-start justify-content-lg-center justify-content-xxl-start px-0 px-md-1 px-lg-0 px-xxl-1 {% if forloop.index0 == 0 -%}active{% endif -%}"
      style="min-width: 48px;min-height: 30px;border-radius: 0px;" data-bs-target="#{{- article.label -}}-content-{{- article.index -}}" data-bs-toggle="pill"
      type="button" role="tab" aria-controls="{{- article.label -}}-content-{{- article.index -}}" aria-selected="{% if forloop.index0 == 0 -%}true{%
      endif -%}" data-article-text="{{- article.text -}}">
        {% if article.icon == "" -%}
        <img class="mx-auto mx-md-0 px-0 px-md-2 px-lg-0 px-xxl-2 align-self-center" style="width: 44px;height:28px;" src="assets/imgs/{{- article.label -}}.png" alt="{{- article.label -}}" title="{{- article.label -}}">
        {% else -%}
        <i class="bi bi-{{- article.icon }} mx-auto mx-md-0 px-0 px-md-2 px-lg-0 px-xxl-2 align-self-center text-body text-center" style="width: 44px;height:28px;line-height:28px;font-size: 28px;" title="{{- article.label -}}"></i>
        {% endif -%}
        <span class="d-none d-md-block d-lg-none d-xxl-block px-2" style="font-size:16px;">|</span>
        <span class="d-none d-md-block d-lg-none d-xxl-block" style="font-size:12px;">{{- article.text -}}</span>
      </div>
    </div>
    {% endfor -%}
  </div>
  <!-- 右边内容区域 -->
  <div id="app-main-content" class="tab-content bg-body-tertiary col-12 col-sm-11 col-md-10 col-lg-11 px-2 border-start 
  border-primary-subtle"
    style="height: calc(100vh - 87px);max-height: calc(100vh - 50px);">
    <!-- 右边区域 tab (id 以 article.label article.index 配合 tab content进行命名区分)-->
    <!-- 其中，javascript需要 以 类名为： id-app-main-tab_content-articles-carousel 来获取这些 文章carousel对象（其中地方不要进行使用 否则会出现意外的错误） -->
    {% for article in articles -%}
    <div id="{{- article.label -}}-content-{{- article.index -}}" class="id-app-main-tab_content-articles-carousel tab-pane fade {% if forloop.index0==0 -%}show active{%
      endif %} w-100 h-100" role="tabpanel" aria-labelledby="{{- article.label -}}-tab-{{- article.index -}}"
      tabindex="0">
      <!-- 使用轮播 来展示每一个类型的博客中不同章节  -->
      <!-- 其中，因为该id属性中含有不确定因素的index值，为了减少耦合，提升高效性，为该元素添加 article-\{\{- article.label -\}\}-doc 来辨识该元素，用于其他当前文章激活元素 -->
      <div id="{{- article.label -}}-carousel-{{- article.index -}}"
        class="article-{{- article.label -}}-doc carousel slide w-100 h-100 bg-body-tertiary">
        <div class="carousel-indicators w-100 m-0 d-flex justify-content-start align-items-center scrollbar scrollbar-hidden bg-body-tertiary"
          style="top:1px;height:30px;">
          <!-- 轮播图中的指示点 集合 -->
          <!-- 定义 文章中一系列文档（接收 按order排序后的系列文档） -->
          {% assign article_docs = article.docs | sort: "order" -%}
          {% for doc in article_docs -%}
          <!-- 其中，为了在获取doc所有名称时，减少耦合，提升高效性，为所有doc盗汗按钮元素添加 doc-carousel-indicators-navbtn 来辨识按钮元素，用于获取所有按钮名称 -->
          <div data-bs-target="#{{- article.label -}}-carousel-{{- article.index -}}"
            data-bs-slide-to="{{- forloop.index0 -}}"
            class="doc-carousel-indicators-navbtn {% if forloop.index0 == 0 -%}active{% endif %} border-0 flex-shrink-0 text-center"
            style="width: 80px;height:25px;line-height: 25px;font-size:12px;text-indent: 0px;background-color: transparent;"
            aria-current="{% if forloop.index0 == 0 -%}true{% else %}false{% endif %}"
            aria-label="Slide {{- forloop.index0 -}}" data-doc-title="{{- doc.title -}}">
            {{- doc.text -}}
          </div>
          {% endfor -%}
        </div>
        <div class="carousel-inner w-100 h-100" style="padding-top: 32px;">
          {% for doc in article_docs -%}
          <div class="carousel-item w-100 h-100 {% if forloop.index0 == 0 -%}active{% endif -%}">
            <div class="carousel-item-content w-100 border-top border-1 overflow-y-auto scrollbar scrollbar-blue app-main-content-doc-content doc-{{- article.label -}}-style doc-{{- article.label -}}-{{- doc.title | downcase  -}}-content"
              style="height: calc(100% - 1px);">
              {{- doc.content -}}
            </div>
          </div>
          {% endfor -%}
        </div>
      </div>
    </div>
    {% endfor -%}
  </div>
</div>
<!-- 页尾 -->
<div id="app-footer" class="position-relative w-100 text-bg-dark">
  <div id="app-footer-collapse-button" class="position-absolute bg-primary d-flex" style="width:40px;height:25px;top: -30px;right: 10px;" data-bs-toggle="collapse" href="#app-footer-content" role="button" aria-expanded="false" aria-controls="app-footer-content">
    <i id="app-footer-collapse-button-icon" class="bi bi-chevron-bar-up text-white align-self-center mx-auto"></i>
  </div>
  <div id="app-footer-content" class="collapse">
      <div style="height:200px" class="d-flex flex-column align-items-center justify-content-evenly">
        <div>©2023 开源项目</div>
        <div>
          <i class="user-select-none bi bi-mailbox"></i>
          &nbsp;
          <span class="user-select-all fw-light">mimao_littlemouse@163.com</span>
        </div>
      </div>
  </div>
</div>