// 懒加载 处理元素样式  进行统一管理


img {
  display: block;
}

// 添加 图片过渡效果
img.lazy {
  opacity: 0;
}
img:not(.initial) {
  transition: opacity 1s;
}
img.initial,
img.loaded,
img.error {
  opacity: 1;
}

// 对于，没有 src的图片 进行取消显示
img:not([src]) {
  visibility: hidden;
}