// 定义 文档的标题类样式
.doc-content-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 5px 0px;
}
// 定义 h1 ~ h6 的文档样式
// 字体大小: h6~h1 依次是: 12px 15px 18px 21px 24px 27px
.doc-content-h1{
    font-size: 27px;
}
.doc-content-h2{
    font-size: 24px;
}
.doc-content-h3{
    font-size: 21px;
}
.doc-content-h4{
    font-size: 18px;
}
.doc-content-h5{
    font-size: 15px;
}
.doc-content-h6{
    font-size: 12px;
}
// 定义 a 元素，目前不对其进行处理，直接进行禁用（直接不进行显示）
.doc-content-a{
    text-decoration: none;
    cursor: pointer;
}
// 定义 a 元素的不可点击状态
.doc-content-a-disabled{
    cursor: not-allowed;
    opacity: 0.6;
}

// 高亮模块 的样式
// (1)默认语言的高亮模块 样式
.doc-content-pre{
    margin: 6px 10px 6px 4px;
    padding-left: 6px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
// (2)其他语言的高亮模块 样式
div.doc-content-highlighter{
    margin: 6px 10px 6px 4px;
    padding-left: 6px;
    border: 1px solid lightgray;
    border-radius: 2px;
    >div.highlight{
        pre.highlight{
            margin-bottom: 0px;
        }
    }
}


// 代码块模块 的样式
blockquote.doc-content-blockquote{
    margin: 6px 10px 6px 4px;
    padding-left: 6px;
    border: 1px solid lightblue;
    border-radius: 3px;
}